.background{
    background-color: #0e0b2b;
    margin-right: auto;
    height: 436px;
}
    
.card{
    background-color: transparent !important;
    color: #fff;
    border: none;
}

.btn-link{
    color: #fff;
}

h1{
    color: #fff;
}
