.jumbotron {
    margin: 0px auto;
    background-color: #0e0b2b;
}

.text-muted{
    color: #f5f5f5 !important;
}

.text-center{
    color: white;
}

input[type="checkbox"] {
    width: auto;
    -webkit-appearance: checkbox;
    /* oops forgot to add the other properties here */
  }